<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <div id="app">
      <!-- navigation -->

      <div class="nav">
        <h3>Product list</h3>
        <div class="actions">
          <a
            href="index.html"
            @click="massDelete"
            class="btn"
            :style="{ backgroundColor: randomColor() }"
            >MASS DELETE</a
          >
          <a href="add-product.html" class="btn">ADD</a>
        </div>
      </div>
      <!-- products -->
      <div class="products">
        <div
          class="product"
          v-for="product in products"
          :key="product.id"
          :style="{ backgroundColor: randomColor() }"
        >
          <input type="checkbox" class="delete-checkbox" :value="product.sku" />
          <h3>{{product.sku}}</h3>
          <h2>{{product.name}}</h2>
          <h3>{{product.price}}</h3>
          <h3>{{product.type}}</h3>
          <div v-if="product.type == 'Furniture'">
            <p>
              Dimensions: {{product.height}} x {{product.length}} x
              {{product.width}}
            </p>
          </div>
          <div v-else-if="product.type == 'DVD'">
            <p>Size: {{product.size}} MB</p>
          </div>
          <div v-else-if="product.type == 'Book'">
            <p>weight: {{product.weight}} KG</p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    const { ref, createApp, onMounted } = Vue;
    createApp({
      setup() {
        const products = ref([{}]);

        const checked = ref([]);
        onMounted(() => {
          fetchPosts();
        });
        const fetchPosts = () => {
          axios
            .post("back/crud/read.php")
            .then(function (response) {
              console.log(response.data)
              products.value = response.data;
            })
            .catch(function (error) {
              console.log(error);
            });
        };
        const massDelete = (e) => {
          e.preventDefault();
          checkForAutomation();
          axios
            .post("back/crud/delete.php", {
              action: "deleteProducts",
              skus: checked.value,
            })
            .then(function (response) {
              console.log(response.data);
            })
            .catch(function (error) {
              console.log(error);
            });
          fetchPosts();
        };
        const checkForAutomation = () => {
          checkboxes = document.getElementsByClassName("delete-checkbox");
          for (i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
              checked.value.push(checkboxes[i].value);
              checkboxes[i].checked=false;
            }
          }
        };
        const randomColor = () => {
          let arr = [
            "#fa5f49",
            "#a6fab6",
            "#f9d99a",
            "#84b6f4",
            "#fcb7af",
            "#ff9688",
            "#8cfca4",
            "#fdfd96",
            "#a788ab",
          ];
          let randIndex = Math.floor(Math.random() * arr.length);
          return arr[randIndex];
        };

        return {
          products,
          massDelete,
          randomColor,
        };
      },
    }).mount("#app");
  </script>
</html>
